.git
.venv
__pycache__
*.pyc
node_modules
frontend
.env
tests
lambda
cloudfront
*.md
amplify.yml

# lfucg_output: only allow chroma_db/, search.db, and clips/*/metadata.json
lfucg_output/*
!lfucg_output/chroma_db
!lfucg_output/clips
!lfucg_output/search.db
lfucg_output/clips/*/*
!lfucg_output/clips/*/metadata.json
